@import url('https://fonts.googleapis.com/css?family=Roboto');
 * {
	 margin: 0;
	 padding: 0;
	 font-family: 'Roboto', sans-serif;
	 box-sizing: border-box;
}

a {
	text-decoration: none;
}

img {
	 max-width: 100%;
}

li {
    list-style-type: circle;
    margin: .2em 1.2em;
}

html, body {
	 height: 100%;
}

.content{
	padding: 2em;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.card {
	background: #fff;
	width: 22rem;
	margin:0 .75em 3em;
	box-shadow: 0 0 10px 1px #999;
	position: relative;
/*	display: flex;
	flex-direction: column;*/
	/*justify-content: space-between;*/
}

.card__header {
	object-fit: cover;
	min-height: 18rem;
	max-height: 18rem;
}

.card__food {
	 color: #212129;
	 font-weight: normal;
	 text-transform: uppercase;
	 letter-spacing: 0.1;
	 margin: .6em .6em .3em .6em;
	 text-align: center;
	 font-size: 1.5em;
	 height: 2rem;
}

.card__sub {
	display: flex;
	justify-content: space-between;
	padding-left: 1em;
	padding-right: 1em;
	height: 1.5rem;
}

.card__detail {
	color: #9b9b9b;
	font-size: smaller;
}

.card__content {
	font-size: smaller;
	text-align: justify;
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 3rem;
}

.card__info {
	margin-bottom: 1em;
}

.card__btn {
	display: block;
	background: #17bebb;
	color: #fff;
	position: absolute;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-align: center;
	padding: .6em;
	transition: 250ms;
	margin-top: 1em;
	bottom:0rem;
	width:inherit;
}

.card__btn:hover {
	 background: #ffba39;
	 transition: 250ms;
}


@media screen and (min-width: 35em) {
    .content {
		flex-direction: row;
		flex-wrap: wrap; 
        justify-content: center;
		align-items: stretch;
    }

    .card {
        flex: 0 0 auto;
    }
}

.ingredient {
	padding-right: 1em;
}

.quantity {
	font-style: italic;
	color: #999;
}