<div class="card">
            
    <img class="card__header" src="{{url}}">

    <h1 class="card__food">{{titre}}</h1>

    <div class="card__sub">
        <i class="card__detail">{{temps}} Mins</i> 
        <i class="card__detail">Niveau : {{niveau}}</i>
        <i class="card__detail">Coût : {{cout}}</i>
    </div>

    <div class="card__content">
        <p class="card__info">{{texte}}</p>
        <p class="card__info"><ul>{{liste}}</ul></p>
    </div>
   
    <a href="#" class="card__btn">Let's Cook!</a>
</div>